/*
display: flex; /* or inline-flex
flex-direction: row | row-reverse | column | column-reverse;
justify-content: flex-start | flex-end | center | space-between | space-around;
align-items: flex-start | flex-end | center | baseline | stretch;
*/

body
	margin 0
header
	display flex
	flex-direction column
	justify-content center
	align-items center

section
	display flex
	flex-direction column
	justify-content center
	align-items center
	width 100%
	margin 0

img 
	width 100%

header
	margin-top -62%
	color white