@font-face {
  font-family: 'Luisferdk-Font';
  src:  url('../fonts/Luisferdk-Font.eot?693hnw');
  src:  url('../fonts/Luisferdk-Font.eot?693hnw#iefix') format('embedded-opentype'),
    url('../fonts/Luisferdk-Font.ttf?693hnw') format('truetype'),
    url('../fonts/Luisferdk-Font.woff?693hnw') format('woff'),
    url('../fonts/Luisferdk-Font.svg?693hnw#Luisferdk-Font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Luisferdk-Font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-html:before {
  content: "\e903";
  color: #e34f26;
}
.icon-laravel:before {
  content: "\e906";
  color: #ff2d20;
}
.icon-node:before {
  content: "\e908";
  color: #393;
}
.icon-react:before {
  content: "\e909";
  color: #61dafb;
}
.icon-wordpress:before {
  content: "\e90a";
  color: #21759b;
}
.icon-education:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e907";
}
.icon-skill:before {
  content: "\e900";
}
.icon-mail_outline:before {
  content: "\e90b";
}
.icon-email:before {
  content: "\e901";
}
.icon-service:before {
  content: "\e902";
}
.icon-experience:before {
  content: "\e904";
}
.icon-location_pin:before {
  content: "\e90c";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-home:before {
  content: "\e926";
}
