:root {
  --fondo: #f6f7ff;
  --primary: #4a63e7;
  --secondary: #ff5959;
  --text: #777777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html,
body {
  background: var(--fondo);
  min-height: 100vh;
  font-size: 18px;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-track {
  background-color: initial;
}

body::-webkit-scrollbar {
  background-color: initial;
}

body::-webkit-scrollbar-thumb {
  background-color: initial;
}

* {
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: 'roboto';
  position: relative;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
}

a,
h4,
p {
  color: var(--text);
}
strong {
  color: black;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  outline: 0;
  border: none;
  border: 1px solid var(--text);
}

.row {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.col-lg-1 {
  width: 8.333333333%;
}
.col-lg-2 {
  width: 16.66666667%;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-4 {
  width: 33.33333333%;
}
.col-lg-5 {
  width: 41.66666667%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-7 {
  width: 58.33333333%;
}
.col-lg-8 {
  width: 66.66666667%;
}
.col-lg-9 {
  width: 75%;
}
.col-lg-10 {
  width: 83.33333333%;
}
.col-lg-11 {
  width: 91.66666667%;
}
.col-lg-12 {
  width: 100%;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 3rem;
}

.mb-3 {
  margin-bottom: 4rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 3rem;
}

.plr-1 {
  padding: 0 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.btn {
  display: inline-block;
  position: relative;
  padding: 12px 30px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.428571;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 2rem;
  color: white;
  border: 1px solid white;
  outline: 0;
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.14), 0 3px 1px -2px rgba(255, 255, 255, 0.2),
    0 1px 5px 0 rgba(255, 255, 255, 0.12);
}

.btn-secondary {
  background: var(--secondary);
}

.menu {
  position: fixed;
  right: 2%;
  width: 6%;
  height: 100vh;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  border-radius: 100px;
  background: white;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.menu-items a {
  margin-bottom: 2rem;
  color: var(--primary);
}
.menu-items a i {
  font-size: 1.5rem;
}

.menu-items a:last-child {
  margin: 0;
}

.menu-items a.active i {
  padding: 10px;
  background: var(--primary);
  color: white;
  border-radius: 100px;
}

.container {
  width: 85%;
  max-width: 1600px;
  margin-left: 5%;
}
.section-container {
  height: 100vh;
  padding: 6vh 0;
}
.section {
  background: white;
  width: 100%;
  border-radius: 20px;
  padding: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.section-header h2 {
  position: relative;
}
.section-header h2::after {
  content: '';
  width: 60px;
  height: 5px;
  position: absolute;
  bottom: -15px;
  left: 0;
  border-radius: 100px;
  background: var(--secondary);
}

.section-body {
  width: 100%;
  overflow: auto;
  padding: 0 1rem;
}

.section-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 100px;
}

.section-body::-webkit-scrollbar {
  width: 4px;
  border-radius: 100px;
  background-color: #f5f5f5;
}

.section-body::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 100px;
}

.section-main {
  position: relative;
  align-items: flex-start;
  justify-content: center;
}

.section-main h1,
.section-main h2 {
  color: white;
}

.section-main-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
}
.section-main-img img {
  margin: initial;
  border-radius: 0 20px 20px 0;
}
.section-main-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  background: linear-gradient(to left, rgba(74, 99, 231, 0.7) 0%, rgba(74, 99, 231, 1) 50%, rgba(74, 99, 231, 1) 100%);
}

.title {
  position: relative;
}
.title::after {
  content: '';
  width: 13px;
  height: 13px;
  background: var(--secondary);
  position: absolute;
  right: -20px;
  bottom: 7px;
  border-radius: 100px;
}

.profile-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-img img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center center;
}

.skill {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5rem 0;
}

.skill-title {
  font-size: 1rem;
}
.skill-bar {
  width: 100%;
  height: 8px;
  background: #ebebeb;
  position: relative;
  margin-top: 0.5rem;
  border-radius: 100px;
}

.skill-bar-porcen {
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  background: var(--secondary);
  border-radius: 100px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--secondary);
  border-radius: 20px;
  padding: 20px;
  height: 100%;
}

.service i {
  color: var(--secondary);
  font-size: 1.5rem;
}

.experience-items {
  position: relative;
  padding: 4rem 0;
}
.line {
  content: '';
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 20%;
  width: 2px;
  background: var(--secondary);
}
.round-top,
.round-bottom {
  position: absolute;
  top: 0;
  left: calc(20% - 5px);
  width: 10px;
  height: 10px;
  background: var(--secondary);
  border-radius: 100px;
}

.round-bottom {
  top: initial;
  bottom: 0;
}

.experience-items .experience:last-child {
  padding-bottom: 0;
}
.experience {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.experience-header {
  width: 20%;
  padding-right: 1rem;
  position: relative;
}
.experience-header::after {
  content: '';
  position: absolute;
  top: 5px;
  right: -8px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: white;
  border: 1px solid var(--secondary);
  z-index: 1;
}

.experience-content {
  width: 80%;
  padding-left: 2rem;
}

.experience-title {
  margin-bottom: 1rem;
}

.contact {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}
.contact-2 a {
  text-decoration: underline;
  color: var(--primary);
}

.contact i {
  margin-right: 1rem;
  padding-top: 2px;
  font-size: 1.3rem;
  color: var(--secondary);
}

@media (max-width: 1200px) {
  .col-1 {
    width: 8.333333333%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-12 {
    width: 100%;
  }
  .container {
    width: 90%;
    margin: auto;
  }
  .section-container{
    padding: 5vh 0;
  }
}

/* Medium Devices, Desktops */
@media (max-width: 992px) {
  .mb-3 {
    margin-bottom: 3rem;
  }
  .section-container{
    padding: 2vh 0;
  }
  .menu {
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
  }
  .menu-items {
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    border-radius: 50px 50px 0 0;
  }
  .menu-items a {
    margin: 0 5px;
  }
  .menu-items a.active i {
    padding: 10px;
    font-size: 1rem;
  }
  .section {
    padding: 2rem;
  }
}

/* Small Devices, Tablets */
@media (max-width: 768px) {
  .mb-3{
    margin-bottom: 2rem;
  }
  .section {
    padding: 1rem;
  }
  .section-main-img {
    display: none;
  }

  .profile-img {
    margin-bottom: 1rem;
  }
  .experience {
    flex-direction: column;
  }
  .experience-header {
    width: 100%;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }
  .experience-content {
    width: 100%;
    padding-left: 1rem;
  }
  .experience-header::after {
    left: -7px;
  }
  .line {
    left: 0;
  }
  .experience-title {
    font-size: 1.1rem;
  }
}

/* Extra Small Devices, Phones */
@media (max-width: 480px) {
}

/* Custom, iPhone Retina */
@media (max-width: 320px) {
}
